{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  
<style>
    .category{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    }
    .my_button{
        margin: 15px;
    }
</style>


    
    <h1 class="text-center heh" style="color: rgb(75, 62, 185); margin-top:80px;">{% trans "Our Category" %}</h1><br><br>


    <div class="category mx-auto">
        {% for category in category %}
            <div class="my_button">
                <div class="card text-center">
                    <a href="{% url 'product' category.id %}"><img class="card-img-top my-image" src="{{category.image.url}}" alt="{{category.name}}"></a>
                    <div class="card-body">
                        <h4>{{category.name}}</h4>
                        <h6>{{category.description}}</h6>
                       <a href="{% url 'product' category.id %}" class="btn btn-primary">{% trans "More Info" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>

{% endblock %}
