{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">

    <div class="">
        <br><br>
    <form method="get" class="form-inline my-2 my-lg-0 ml-4" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" value="{{request.GET.q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
    </div><br><br><hr>
    <h1 class="text-center heh">Our Product</h1><br><br>

    <div class="row mx-auto">
        {% for product in product %}
       

            <div class="my_button col-md-6 col-sm-12 mt-4 mb-4">
                <div class="card text-center">
                    <img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p class="lead">Description: {{product.description}}</p>
                        <p class="lead">Price: $ {{product.price}}</p>
                        <a class="btn btn-primary" href="{% url 'detail' product.id %}">More Details</a>
                        
                        <a class="btn btn-primary" href="{% url 'add_cart' product.id %}">Add to Cart</a>
                       

                    </div>
                </div>
                
            </div>
           
        {% endfor %}
  </div>


</div>


{% endblock %}