{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .category{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    }
    .my_button{
        margin: 15px;
    }
</style>


  <br><br>
    <h1 class="text-center heh">Our Product</h1><br><br>

    <div class="category mx-auto">
        {% for product in product %}
       

            <div class="my_button">
                <div class="card text-center">
                    <img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="card-body">
                        <h3>{{product.name}}</h3>
                        <h4 class="lead">Description: {{product.description}}</h4>
                        <h4 class="lead">Price: $ {{product.price}}</h4>
                        <a class="btn btn-primary" href="{% url 'detail' product.id %}">More Details</a>
                        
                        <a class="btn btn-primary" href="{% url 'add_cart' product.id %}">Add to Cart</a>
                    </div>
                </div>
                
            </div>

        {% endfor %}
        <br><br>
        
  </div>




{% endblock %}