{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
    .category{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    }
    .my_button{
        margin: 15px;
    }

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-top: 10px;
      }
      
      .stars {
        font-size: 20px;
        transition: color 0.3s;
        margin: 0 5px;
      }
      .my-image{
        width: 100%;
        height: 300px;
      }
</style>


  <br><br>
    <h1 class="text-center heh">{% trans "Our Product" %}</h1><br><br>

    <div class="category mx-auto">
        {% for product in product_data %}
       

            <div class="my_button">
                <div class="card text-center">
                    <img class="card-img-top my-image" src="{{ product.product.image.url}}" alt="{{ product.product.name }}">
                    <div class="card-body">
                        <h3>{{ product.product.name }}</h3>
                        <h4 class="lead">{% trans "Description" %}: {{product.product.description}}</h4>
                        <h4 class="lead">{% trans "Price" %}: $ {{product.product.price}}</h4>
                        <a class="btn btn-primary" href="{% url 'detail' product.product.id %}">{% trans "More Details" %}</a>
                        
                        <a class="btn btn-primary" href="{% url 'add_cart' product.product.id %}">{% trans "Add to Cart" %}</a>
                      
                        {% if product.average_rating >= 1 %}
                        <br>
            <p class="rating">{% trans "Rating" %}: ({{ product.average_rating }}) 
              <span class="stars" data-rating="{{ product.average_rating }}">★</span>
           ({{ product.count }})</p>
            {% endif %} 
           
                    </div>
                </div>
                
            </div>

        {% endfor %}
        <br><br>
        
  </div>

  <script>
    $(document).ready(function() {
      // Function to set star color based on the data-rating attribute
      function setStarColor() {
        $(".stars").each(function() {
          var rating = parseFloat($(this).data("rating"));
          var fullStars = Math.floor(rating);
          var halfStar = (rating - fullStars) >= 0.5;
    
          $(this).html(getStars(fullStars, halfStar)).css("color", "gold");
        });
      }
    
      // Function to generate star characters
      function getStars(fullStars, halfStar) {
        var stars = "";
        for (var i = 1; i <= fullStars; i++) {
          stars += "★";
        }
        if (halfStar) {
          stars += "½";
        }
        return stars;
      }
    
      // Call the function to set star color
      setStarColor();
    });
    </script>


{% endblock %}
