{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="content-section">
    <form method="POST">
      {% csrf_token %}
          <label class="border-bottom mb-4">Contact Us</label>

        <div class="form-group">
          <label for="customer_name">Full Name</label>
          <input type="text" class="form-control" name="customer_name">
        </div>
        <div class="form-group">
          <label for="customer_phone">Phone Number</label>
          <input type="number" class="form-control"name="customer_phone">
        </div>
        <div class="form-group">
            <label for="customer_email">Email Address</label>
            <input type="email" class="form-control" name="customer_email">
          </div>
          <div class="form-group">
            <label for="category">Reason for Contacting us</label>
            <select name="category" class="form-control">
                <option value="">Select Reason</option>
                <option value="Report a Bug">Report a Bug</option>
                <option value="Advertise">Advertise</option>
                <option value="Return">Return order</option>
                <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="customer_title">Title for the Problem</label>
            <input type="text" class="form-control"name="customer_title">
          </div>
          <div class="form-group">
            <label for="order_number">Order Number if needed</label>
            <input type="number" class="form-control"name="order_number">
          </div>
          <div class="form-group">
            <label for="customer_description">Description for the Problem</label>
            <textarea class="form-control"name="customer_title"></textarea>
          </div>

        <button type="submit" class="btn btn-primary">Send it</button>
    </form>
</div>

{% endblock %}