{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  .loginPage{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin-right: 10px;
  }

  .form-group{
    margin:10px;
  }

  button{
    position: relative;
    left: 45%;
  }
  h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
  }
</style>
    <h1>Feel Free to contact us</h1>
    
<div class="content-section">
    <form method="POST">
      {% csrf_token %}
          <label class="border-bottom mb-4">Contact Us</label>
    <div class="loginPage">
        <div class="form-group">
          <label for="customer_name">Full Name</label>
          <input type="text" class="form-control" name="customer_name">
        </div>
        <div class="form-group">
          <label for="customer_phone">Phone Number</label>
          <input type="number" class="form-control"name="customer_phone">
        </div>
        <div class="form-group">
            <label for="customer_email">Email Address</label>
            <input type="email" class="form-control" name="customer_email">
          </div>
          <div class="form-group">
            <label for="category">Reason for Contacting us</label>
            <select name="category" class="form-control">
                <option value="">Select Reason</option>
                <option value="Report a Bug">Report a Bug</option>
                <option value="Advertise">Advertise</option>
                <option value="Return">Return order</option>
                <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="customer_title">Title for the Problem</label>
            <input type="text" class="form-control"name="customer_title">
          </div>
          <div class="form-group">
            <label for="order_number">Order Number if needed</label>
            <input type="text" class="form-control"name="order_number">
          </div>
          <div class="form-group">
            <label for="customer_description">Description for the Problem</label>
            <textarea style="height:300px;" class="form-control"name="customer_title"></textarea>
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Send it</button>
    </form>
</div>

{% endblock %}