{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  .loginPage{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin-right: 10px;
  }

  .loginPage b{
    margin-right:10px
  }

  .form-group{
    margin:10px;
  }

  button{
    position: relative;
    left: 45%;
  }
  h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
  }
</style>
{% if request.user.is_superuser %}

    <h1>Filter Tickets</h1>
    
<div class="content-section">
    <form method="get">
      {% csrf_token %}
      <label class="border-bottom mb-4">Filter Tickets</label>
    <div class="loginPage">
        <p><b>customer name:</b>{{ my_Filter.form.customer_name }}</p>
        <p><b>customer service representative:</b>{{ my_Filter.form.customer_service_rep }}</p>
        <p><b>customer phone:</b>{{ my_Filter.form.customer_phone }}</p>
        <p><b>customer email:</b>{{ my_Filter.form.customer_email }}</p>
        <p><b>ticket status:</b>{{ my_Filter.form.ticket_status }}</p>
        <p><b>ticket title:</b>{{ my_Filter.form.customer_title }}</p>
        <p><b>ticket description:</b>{{ my_Filter.form.customer_description }}</p>
        <p><b>ticket date:</b>{{ my_Filter.form.ticket_date }}</p>
        <p><b>Order Number:</b>{{ my_Filter.form.order_number }}</p>
        <p><b>Ticket category:</b>{{ my_Filter.form.category }}</p>


        </div>
        <button type="submit" class="btn btn-primary">Filter The Tickets</button>
    </form>
    <br><br>

    <div>
        <div class="text-center"><br>
            <h1 class="text-center my-title">
                Filtered Tickets
            </h1><br>
            {% if all_tickets %}
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Ticket Date</th>
                    <th>Customer Name</th>
                    <th>Title</th>
                    <th>Representative Name</th>
                    <th>Status</th>
                    <th>View Ticket</th>
                </tr>
                </thead>
                <tbody>
                    {% for order in all_tickets %}
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{ order.ticket_date|date:"d M Y" }}</td>
                            <td>{{order.customer_name}}</td>
                            <td>{{ order.customer_title }}</td>
                            <td>{{ order.customer_service_rep }}</td>
                            {% if order.ticket_status == False %}
                            <td>Not Completed</td>

                            {% else %}
                            <td>Completed</td>
                            {% endif %}
                            <td><a href="{% url 'updateTickets' order.id %}">View Order</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No Tickets Found <br><br</p>
            {% endif %}
        </div>
    </div>
<br><br>
</div>

{% endif %}
{% endblock %}