{% extends "base.html" %}
{% load static %}

{% block content %}
{% if request.user.is_superuser %}
<div class="mx-auto container">
    <p><a href="{% url 'allOrderHistory' %}">All Orders</a> | <a href="{% url 'NotReadyOrderHistory' %}">Not Readt to ship</a> | <a href="{% url 'shippedOrderHistory' %}">Shipped Orders</a></p>
</div>
    <div>
        <div class="text-center"><br>
            <h1 class="text-center my-title">
                Order History
            </h1><br>
            {% if order_details %}
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for order in order_details %}
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{ order.created|date:"d M Y" }}</td>
                            <td>{{order.total}}</td>
                            {% if order.ready_to_ship == False or order.ship == False %}
                            <td>Not Completed</td>

                            {% else %}
                            <td>Completed</td>
                            {% endif %}
                            <td><a href="{% url 'order_detail' order.id %}">View Order</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>You have not placed any order yet <br><br><a href="{% url 'home' %}" class="btn btn-secondary">Continue shopping</a></p>
            {% endif %}
        </div>
    </div>
<br><br>
{% endif %}

{% endblock %}