{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}


    {% if request.user.is_superuser %}
    <div class="mx-auto container ml-4">
        
        <br><br><h3 class="justify-content-center text-center">Change in order status</h3><br> <br> 
        <div class="content-section">
        <form method="post" class="form-check">
            {% csrf_token %}
           
            <label for="ready" class="mr-4">The Order Is Ready to be Shipped</label>
            <input class="form-check-input" type="checkbox" name="ready" {% if order.ready_to_ship %}checked{% endif %}>
            <br> <br> <br>
            <label for="ship" class="mr-4">The Order Is Shipped</label>
            <input class="form-check-input" type="checkbox" name="shipped" {% if order.ship %}checked{% endif %}> <br> <br>

            <button type="submit" class="btn btn-secondary" href="{% url 'order_detail' order.id %}">Save the Chages</button>
        </form>
    </div>
        
    </div>
    <br> <br><br> <hr><br><br>
    {% endif %}

    


    {% if request.user.email == order.emailAddress or request.user.is_superuser %}

    <div>
        <div class="text-center"><br>
            <h1 class="text-center my-title">{% trans "Order Details" %}</h1>
            <br>
            <table class="table table-bordered">
                <tr>
                    <td class="text-left" colspan="2">
                        <b>{% trans "Order" %}: </b>#{{order.id}}<br>
                        <b>{% trans "Date" %}: </b>{{order.created|date:"d M Y"}}<br>
                        <b>{% trans "Order Total" %}: </b>${{order.total}}<br>
                        <b>{% trans "Order Status" %}: </b><i class="fa fa-check"></i>{% trans "Complete." %}
                    </td>
                    <td colspan="2" class="text-left">
                        <b>{% trans "Billing Address" %}:</b><br>
                        {{order.billingName}}<br>
                        {{order.billingAddress1}}<br>
                        {{order.billingCity}}<br>
                        {{order.billingCountry}}<br>
                    </td>
                </tr>
                <tr>
                    <td><b>{% trans "Product Description" %}</b></td>
                    <td><b>{% trans "Qty" %}</b></td>
                    <td><b>{% trans "Unit Price" %}</b></td>
                    <td><b>{% trans "Sub-Total" %}</b></td>
                </tr>
                {% for item in order_items %}
                    <tr>
                        <td>{{item.product}}</td>
                        <td>{{item.quantity}}</td>
                        <td>${{item.price}}</td>
                        <td>${{item.sub_total}}</td>
                    </tr>
                    <tr>
                        <td><img src="{{item.qr.url}}" width="200px" height="200px" /></td>
                        <td>{{item.kids_name}}</td>                        
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-right" colspan="3"><b>{% trans "Total" %}</b></td>
                    <td>${{order.total}}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3"><b>{% trans "Total Paid" %}</b></td>
                    <td>${{order.total}}</td>
                </tr>
                <tr>
                    <td class="text-left" colspan="2">
                        <b>{% trans "Shipping Address" %}</b><br>
                        {{order.shippingName}}<br>
                        {{order.shippingAddress1}}<br>
                        {{order.shippingCity}}<br>
                    </td>
                    <td class="text-left" colspan="2">
                        <b>{% trans "Payment Details" %}</b><br>
                        {% trans "The order" %}#{{order.id}} {% trans "has been paid succuessfully" %} 
                    </td>
                </tr>
            </table>
        <button class="btn btn-secondary" onclick="window.print();"><i class="fa fa-print"></i>{% trans "Print Order" %}</button>
        </div>
    </div>
<br><br>

{% else %}
    <h3>{% trans "You Are not welcome here" %}</h3>
    <h4>{% trans "You used a different email address when placing your product order compared to the one you are currently using" %}.</h4>
{% endif %}
{% endblock %}
