{% extends "base.html" %}
{% load static %}

{% block content %}
{% if request.user.is_superuser %}
<div class="mx-auto container">
    <p><a href="{% url 'allOrderHistory' %}">All Orders</a> | <a href="{% url 'NotReadyOrderHistory' %}">Not Readt to ship</a> | <a href="{% url 'shippedOrderHistory' %}">Shipped Orders</a></p>
</div>

    <div>
        <div class="text-center"><br>
            <h1 class="text-center my-title">
                Not Ready to Ship Orders 
            </h1><br>
            {% if order_details %}
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                    {% for order in order_details %}
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{ order.created|date:"d M Y" }}</td>
                            <td>{{order.total}}</td>
                            <td><a href="{% url 'order_detail' order.id %}">View Order</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>All The orders are ready to ship <br><br></p>
            {% endif %}
        </div>
    </div>
<br><br>
{% endif %}

{% endblock %}