{% load i18n %}
{% load static %}
<!doctype html>
<html lang={% if request.LANGUAGE_CODE == 'ar' %}"ar"{% else %}"en"{% endif %}>
    <head>
        <title>Find Me</title>
        <meta charset="utf-8" />
        <!--mobile meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--mobile meta-->
        <meta name="description" content="this web site is for exchanging items from all countries all over the world">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

        {% if request.LANGUAGE_CODE == 'ar' %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        {% else %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        {% endif %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

       <!-- <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>         -->



    </head>

    <body>
      {% comment %} class="{% ifequal request.LANGUAGE_CODE 'en' %}en{% else %}ar{% endifequal %}" {% endcomment %}

      <div class="container">
  
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        <div class="languages">
          
          {% trans "Choose Your Language" %}: <a href="/ar/"
                  {% if languages.code == CURRENT_LANGUAGE %} class="active"{% endif %}>Arabic </a> ||
                <a href="/en/"
                  {% if languages.code == CURRENT_LANGUAGE %} class="active"{% endif %}> English </a>
        </div>

      <!--start navbar-->

      <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-4" href="{% url 'home' %}"><span>Find</span> <span>Me</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allOrderHistory' %}">all Order Admin <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' request.user.id %}">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'createQR' %}">Create a Qr Profile<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category' %}">Shop<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mainy">
                  <a class="nav-link" href="{% url 'logout' %}">logout <span class="sr-only">(current)</span></a>
                </li>
                {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}">Shop<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mainy">
                <a class="nav-link" href="{% url 'login' %}">Sign In <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>
  


      <!--end navbar-->

{% block content %}

{% endblock%}
</div>
      <!--footer-->
      <footer class="footer text-center">
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-snapchat"></i>
        <i class="fa fa-pinterest-p"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <p>Powered by Yousef Mankoulah</p>
      </footer>
      <!--footer-->
      <script src="{% static 'js/index.js' %}"></script>

          </body>
          </html>