{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block content %}

<style>
    .loginPage{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
      margin-right: 10px;
    }
  
    .created{
      margin: 15px;
    }
  
    h1{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 40px;
      font-weight: bold;
      color: rgb(75, 62, 185)
    }

  </style>

<br><br>
        {% if messages %}
        <ul class="alert alert-primary" id="box" role="alert">
            {% for message in messages %}
            <li style="text-decoration: none;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <div class="container">
        <h1 class="text-center">
            QR code generate Profile
        </h1>
        <br><br><br>
        
        <form method="post" class="content form-group">
            {% csrf_token %}<br><br>
            <div class="loginPage">
                <div class="created">
            <label for="name">{% trans "Enter the name" %}</label>
            <input class="form-control input_check" type="text" name="name" id="roll" placeholder="Enter the name"><br><br>
                </div>
                <div class="created">
            <label for="type">{% trans "What is the Type" %}</label><br>
            <select name="type" id="roll2">
                <option></option>
                <option value="Boy">Boy</option>
                <option value="Girl">Girl</option>
                <option value="Old Man">Old Man</option>
                <option value="Sick">Sick</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Other Pets">Other Pets</option>
            </select><br><br>
        </div>
        <div class="created">
            <label for="address">{% trans "Enter the address" %}</label>
            <input class="form-control input_check" type="text" name="address" placeholder= 'Enter the address'><br><br>
        </div>
        <div class="created">
            
            <label for="phone">{% trans "Enter the phone number" %}</label>
            <input class="form-control input_check" type="text" name="phone" id="roll3" placeholder="Enter the phone number"><br><br>
        </div>
   
        <div class="created">
            
           
            <label for="summary">{% trans "Enter more details" %}</label>
            <textarea style="height:250px" class="form-control input_check" name="summary" placeholder="enter more details"></textarea>
        </div>
    </div>
            <br><br>
            <button style="position: relative; left: 45%;" class="btn btn-primary generate" onClick="return empty()">{% trans "Generate Profile" %}</button>
            <br><br><br><br>
        </form>

        <div class="qr-img">
            {% if img_name %}
                <img src="/media/{{ img_name }}" alt="qr code"  id="parent" onclick='myApp.printDiv()'>
            {% endif %}
        </div>
    
    </div>




    <script>
        // hide sucess message
    setTimeout(() => {
    const box = document.getElementById('box');

    // removes element from DOM
    box.style.display = 'none';
    }, 2000); //  time in milliseconds


    // prevent reload page
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }


    //prevent submitting empty form
    function empty() {
        var x;
        var z;
        x = document.getElementById("roll").value;
        y = document.getElementById("roll2").value;
        z = document.getElementById("roll3").value;
        if (x == "" || y == "" || z == "") {
            alert("Enter a Valid Value");
            return false;
        };
    }

    </script>
    
{% endblock %}