{% load i18n%}
{% load static %}

<!DOCTYPE html>
<html lang={% if request.LANGUAGE_CODE == 'ar' %}"ar"{% else %}"en"{% endif %} dir={% if request.LANGUAGE_CODE == 'ar' %}"rtl"{% else %}"ltr"{% endif %}>
  <head>
    <title>Find Me</title>
    <meta charset="utf-8" />
    <!--mobile meta-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--mobile meta-->
    <meta
      name="description"
      content="this web site is for exchanging items from all countries all over the world"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <meta name="”robots”" content="index, follow" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>         -->
  </head>

  <body>

    {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        <div class="languages">
          
          {% trans "Choose Your Language" %}: <a href="/ar/"
                  {% if languages.code == CURRENT_LANGUAGE %} class="active"{% endif %}>Arabic </a> ||
                <a href="/en/"
                  {% if languages.code == CURRENT_LANGUAGE %} class="active"{% endif %}> English </a>
        </div>


    <!--start navbar-->
    <header class="header">
      <div class="inner-header">
        <div class="container-fluid px-lg-5">
          <nav class="navbar navbar-expand-lg my-navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <span class="logo"
                  ><img class="img-fluid" src="{% static 'img/1.jpg' %}" href="#" alt="" />
                </span>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon">
                  <i class="fa fa-bars"></i>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                 {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allOrderHistory' %}">{% trans "all Order Admin" %} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'opendTickets' %}">{% trans "Customer service" %} <span class="sr-only">(current)</span></a>
        </li> 
        {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' request.user.id %}">{% trans "Dashboard" %}<span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'createQR' %}">{% trans "Create a Qr Profile" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category' %}">{% trans "Shop" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contactus' %}">{% trans "Contact Us" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mainy">
                  <a class="nav-link" href="{% url 'logout' %}">{% trans "logout" %} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %} <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}">{% trans "Shop" %}<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contactus' %}">{% trans "Contact Us" %}<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mainy">
                <a class="nav-link" href="{% url 'login' %}">{% trans "Sign In" %} <span class="sr-only">(current)</span></a>
              </li>
                   <li class="nav-item mainy">
                <a class="nav-link" href="{% url 'register' %}">{% trans "Register" %} <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <section class="home">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="banner" style="background-image: url({% static 'img/1.jpg' %});"></div>
            <div class="carousel-caption">
              <p
                class="animate__animated animate__bounceInRight"
                style="animation-delay: 1s;"
              >
                <strong>{% trans "QR codes help you find your family" %}</strong>
              </p>
              <p
                class="animate__animated animate__bounceInLeft"
                style="animation-delay: 2s;"
              >
                {% trans "We understand that the well-being of your children, sick family members, and pets is of the most importance to you." %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="banner"
              style="background-image: url({% static 'img/1.jpg' %});"
            ></div>
            <div class="carousel-caption">
              <p
                class="animate__animated animate__zoomIn"
                style="animation-delay: 1s;"
              >
                <strong>{% trans "Create a profile for each kids" %}</strong>
              </p>
              <p
                class="animate__animated animate__bounceInLeft"
                style="animation-delay: 2s;"
              >
                {% trans "You can easily create a free qr profile for each kids or pets." %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="banner"
              style="background-image: url({% static 'img/1.jpg' %});"
            ></div>
            <div class="carousel-caption">
              <p
                class="animate__animated animate__slideInDown"
                style="animation-delay: 1s;"
              >
                <strong>{% trans "Track you qr code" %}</strong>
              </p>
              <p
                class="animate__animated animate__fadeInUp"
                style="animation-delay: 2s;"
              >
                {% trans "For an added layer of security, you have the option to enable location tracking." %}
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--end nav and main header-->

    <!--start second header-->
    <div class="container-fluid second-header text-center">
      <h2>Who Can use our products</h2>

      <div class="who-use">
        <div class="card">
          <i class="fa fa-solid fa-child fa-lg card-img-top mt-4"></i>
          <div class="card-body">
            <h5 class="card-title">{% trans "Children" %}</h5>
            <p class="card-text">
              {% trans "Kids can provide essential information like their name, and any medical conditions they have. It's an exciting way for kids to be proactive about their safety." %}
            </p>
          </div>
        </div>
        
        <div class="card">
          <i class="fa fa-solid fa-user fa-lg card-img-top mt-4"></i>
          <div class="card-body">
            <h5 class="card-title">{% trans "Sick Family Member" %}</h5>
            <p class="card-text">
              {% trans "If a family member is struggling with an illness that affects their focus or can potentially lead to them getting lost, you have the option to purchase our products featuring an embedded QR code" %}
            </p>
          </div>
        </div>
        
        <div class="card">
          <i class="fa fa-solid fa-dog fa-lg card-img-top mt-4"></i>
          <div class="card-body">
            <h5 class="card-title">{% trans "Dogs" %}</h5>
            <p class="card-text">
              {% trans "If your pet goes missing, you can activate a lost pet alert through our platform. This sends out an immediate notification to the local community and animal shelters, increasing the chances of a speedy reunion. It's a powerful tool to help you find your pet quickly." %}
            </p>
          </div>
        </div>
        <div class="card">
          <i class="fa fa-solid fa-cat fa-lg card-img-top mt-4"></i>
          <div class="card-body">
            <h5 class="card-title">{% trans "Cats" %}</h5>
            <p class="card-text">
              {% trans "If your pet goes missing, you can activate a lost pet alert through our platform. This sends out an immediate notification to the local community and animal shelters, increasing the chances of a speedy reunion. It's a powerful tool to help you find your pet quickly." %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end second header-->

    <!--start product-->
    <div class="most-product" >
      
      <div class="most-product-div">
        <h4
          class="animate__animated animate__zoomIn"
          style="animation-delay: 1s;"
        >
          <strong>{% trans "Our Popular Product" %}</strong>
        </h4>
        <p
          class="animate__animated animate__bounceInLeft"
          style="animation-delay: 2s;"
        >
          {% trans "You can choose any product you need" %}
        </p>
        <a class="btn btn-primary" href="{% url 'category' %}">{% trans "Start Shopping Now" %}<a>
          
      </div>
    </div>
    <!--end product-->

    <!-- start why to use -->
    <div class="why-to-use">
      <h5>{% trans "The Benfits of using our product" %}</h5>
      <div class="why-track row">
        <div class="col-md-6 col-sm-12">
        <img src="{% static 'img/1.jpg' %}">
        </div>
        <div class="col-md-6 col-sm-12 why-track-div">
          <h6>{% trans "Easily Find Your Kids" %}</h6>
          <p>{% trans "We understand that the well-being of your children, sick family members, and cherished pets is of utmost importance to you. That's why we've created a unique and powerful tool that offers peace of mind in times of uncertainty." %}</p>
        </div>
      </div>

      <div class="why-track row">
          
          <div class="col-md-6 col-sm-12 why-track-div">
            <h6>{% trans "Find the vistor location" %}</h6>
            <p>{% trans "For an added layer of security, you have the option to enable location tracking. This feature helps you pinpoint the exact whereabouts of your loved ones or pets, ensuring their safety is never compromised." %}</p>
          </div>
          <div class="col-md-6 col-sm-12">
              <img src="{% static 'img/1.jpg' %}">
              </div>
        </div>
      
    </div><br>

    <!-- end why to use -->

     <!-- Footer -->
     <hr style="margin-bottom:-7px;">
     <footer class="text-center text-lg-start bg-white text-muted">
       <!-- Section: Social media -->
       <section  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
         <!-- Left -->
         <div class="me-5 d-none d-lg-block text-dark">
           <span>{% trans "Get connected with us on social networks:" %}</span>
         </div>
         <!-- Left -->
     
         <!-- Right -->
         
         <div>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-facebook-f"></i>
           </a>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-twitter"></i>
           </a>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-google"></i>
           </a>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-instagram"></i>
           </a>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-linkedin"></i>
           </a>
           <a href="" class="me-4 link-secondary">
             <i class="fab fa-github"></i>
           </a>
         </div>
         <!-- Right -->
       </section>
       <!-- Section: Social media -->
     
       <!-- Section: Links  -->
       <div class="">
         <div class="container text-center text-md-start mt-5">
           <!-- Grid row -->
           <div class="row mt-3">
             <!-- Grid column -->
             <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               <!-- Content -->
               <h6 class="text-uppercase fw-bold mb-4">
                 <i class="fas fa-gem me-3 text-secondary"></i>{% trans "Taht w lenaha" %}
               </h6>
               <p>{% trans "Our website provides a simple yet effective solution for ensuring the safety of your loved ones and pets." %}
                 
               </p>
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                 Products
               </h6>
               <p>
                 <a href="{% url 'category' %}" class="text-reset">{% trans "Products For Children" %}</a>
               </p>
               <p>
                 <a href="{% url 'category' %}" class="text-reset">{% trans "Products For Pets" %}</a>
               </p>
               <p>
                 <a href="{% url 'category' %}" class="text-reset">{% trans "Category" %}</a>
               </p>
               
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                 Useful links
               </h6>
               <p>
                 <a href="{% url 'category' %}" class="text-reset">{% trans "Shop" %}</a>
               </p>
               <p>
                 <a href="{% url 'createQR' %}" class="text-reset">{% trans "Create a QR" %}</a>
               </p>
               
               <p>
                 <a href="{% url 'login' %}" class="text-reset">{% trans "Log in" %}</a>
               </p>
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">{% trans "Cats" %}Contact</h6>
               <p><i class="fas fa-home me-3 text-secondary"></i> {% trans "New York, NY 10012, US" %}</p>
               <p>
                 <i class="fas fa-envelope me-3 text-secondary"></i>
                 info@example.com
               </p>
               <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
               <a class="btn btn-secondary" style="color:white;" href="{% url 'contactus' %}">{% trans "Contact Us" %}</a>
             </div>
             <!-- Grid column -->
           </div>
           <!-- Grid row -->
         </div>
       </div>
       <!-- Section: Links  -->
     
       <!-- Copyright -->
       <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
         © 2023 Copyright:
         <a class="text-reset fw-bold" href="https://www.linkedin.com/in/yousef-mankoulah-967a9913b/">Sky Technology</a>
       </div>
       <!-- Copyright -->
     </footer>

  </body>
</html>
