{% extends "base.html" %}
{% load static %}

{% block content %}


{% for qr in qr  %}
{% if request.user != qr.parent %}
    <h1>Please call the phone number below</h1>
{% endif %}
<div class="container lead">
{{qr.name}}<br>
{{qr.type}}<br>
{{qr.address}}<br>
{{qr.phoneNumber}}<br>
{{qr.summary}}<br>


{% if request.user == qr.parent %}

{% if qr.qr %}
<img src="{{qr.qr.url}}" id="parent">

{% endif %}
<br>
<button class="btn btn-primary printit" onclick='myApp.printDiv()'>Print QR Code</button>
<a class="btn btn-primary" href="{% url 'updateProfile' qr.id %}">Edit Profile</a>
<a class="btn btn-info" href="{% url 'profileVistorLocation' qr.id %}">Last Vistor Location</a>
<a class="btn btn-danger" href="{% url 'delete' qr.id %}">Delete Profile</a>

</div><br><br>
{% else %}
<a class="btn btn-primary" href="tel:{{qr.phoneNumber}}">Call Their parent now</a><br>

{% endif %}


{% endfor %}

{% if request.user != qr.parent %}

<form method="post" id="myForm" class="content form-group" style="display:none" onsubmit="return false">
    {% csrf_token %}
<input type="number" id='latitude' name="latitude" style="display:none">
<input type="number" id="longitude" name="longitude" style="display:none">

</form>
{% endif %}


<script>
    // document.addEventListener("DOMContentLoaded", function() {
    //     var x = document.getElementById("latitude");
    //     var y = document.getElementById("longitude");
    //     var myForm = document.getElementById("myForm");
    //     var submitted = false;

    //     if (navigator.geolocation) {
    //         navigator.geolocation.getCurrentPosition(showPosition);
    //     } else { 
    //         x.innerHTML = "Geolocation is not supported by this browser.";
    //     }
    
    //     function showPosition(position) {
    //         x.value = position.coords.latitude;
    //         y.value = position.coords.longitude;
    
    //         myForm.submit();
    //     }
    
    // });
    //  (function()
    // {
    //   if( window.localStorage )
    //   {
    //     if( !localStorage.getItem('firstLoad') )
    //     {
    //       localStorage['firstLoad'] = true;
    //       window.location.reload();
    //     }  
    //     else
    //       localStorage.removeItem('firstLoad');
    //   }
    // })(); 


    </script>
    
{% endblock %}