{% extends "base.html" %}
{% load static %}


{% block content %}
    
{% if request.user == profile.parent %}
<h1 class="head_top">Edit The Profile Info</h1>
<div class="content-section container">
  <form method="POST" enctype="multipart/form-data" class="content form-group">
    {% csrf_token %}
        <label class="border-bottom mb-4">Edit Profile</label>
        <div class="row">
          <div class="col-12 col-lg-12">
            <input class="form-control input_check" type="text" placeholder="name" name="name" value="{{ profile.name }}">
            <br>
            <label for="type">What is the Type of the Profile</label>
            <select name="type">
                <option value="{{ profile.type }}" selected>{{ profile.type }}</option>
                <option disabled>------------</option>
                <option value="Boy">Boy</option>
                <option value="Girl">Girl</option>
                <option value="Old Man">Old Man</option>
                <option value="Sick">Sick</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Other Pets">Other Pets</option>
            </select><br>
            <input class="form-control input_check" type="text" placeholder="phone" name="phoneNumber" value="{{ profile.phoneNumber }}"><br>

            <br>
            <input class="form-control input_check" type="text" placeholder="address" name="address" value="{{ profile.address }}"><br>
            <textarea class="form-control input_check" placeholder="Write more description" name="summary">{{ profile.summary }}</textarea><br>


            <hr><br><br>
            
          </div>
        </div>
    <div class="form-group content_button">
      <button type="submit" class="btn btn-outline-info">Edit The Profile</button>
    </div>
  </form>

</div>

{% else %}
Ro7 4oflak kalba
    {% endif %}

{% endblock %}