{% extends "base.html" %}
{% load i18n%}
{% load static %}


{% block content %}
<style>
.loginPage{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  margin-right: 10px;
}

.created{
  margin: 15px;
}

h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(75, 62, 185)
}

label{
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 450px) {
    .loginPage{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        margin-right: 10px;
      }
}
</style>

{% if messages %}
        <ul class="alert alert-primary" id="box" role="alert">
            {% for message in messages %}
            <li style="text-decoration: none;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
{% if request.user == profile.parent %}
<h1 class="head_top">{% trans "Edit The Profile Info" %}</h1>
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" class="content form-group">
    {% csrf_token %}
        <label class="border-bottom mb-4">{% trans "Edit Profile" %}</label>
        <div class="loginPage">

          <div class="created">
            <label for="name">{% trans "Enter Your Kids Name" %} *</label>
            <input class="form-control input_check" type="text" placeholder="name" name="name" value="{{ profile.name }}">
            <br>
          </div>
          <div class="created">
            <label for="type">{% trans "What is the Type of the Profile" %}</label>
            <select name="type">
                <option value="{{ profile.type }}" selected>{{ profile.type }}</option>
                <option disabled>------------</option>
                <option value="Boy">{% trans "Boy" %}</option>
                <option value="Girl">{% trans "Girl" %}</option>
                <option value="Sick">{% trans "Sick" %}</option>
                <option value="Dog">{% trans "Dog" %}</option>
                <option value="Cat">{% trans "Cat" %}</option>
                <option value="Other Pets">{% trans "Other Pets" %}</option>
            </select><br>
          </div>
          <div class="created">
            <label for="phoneNumber">{% trans "Enter Your Phone number" %} *</label>
            <input class="form-control input_check" type="text" placeholder="phone" name="phoneNumber" value="{{ profile.phoneNumber }}"><br>

            <br>
          </div>
          <div class="created">
            <label for="address">{% trans "Enter Your Address" %}</label>
            <input class="form-control input_check" type="text" placeholder="address" name="address" value="{{ profile.address }}"><br>
          </div>
          <div class="created">
            <label for="summary">{% trans "Enter More desctiption" %}</label>
            <textarea style="height:250px" class="form-control input_check" placeholder="Write more description" name="summary">{{ profile.summary }}</textarea><br>

          </div>
        </div>
            <hr>
     
    <div class="form-group content_button">
      <button style="position: relative; left: 40%;" type="submit" class="btn btn-outline-info">{% trans "Edit The Profile" %}</button><br>
    </div>
  </form>

</div>

{% else %}
Ro7 4oflak kalba
    {% endif %}
    <script>
      setTimeout(() => {
        const box = document.getElementById('box');
    
        // removes element from DOM
        box.style.display = 'none';
        }, 2000); //  time in milliseconds
    
    </script>
    
{% endblock %}
