{% extends "base.html" %}
{% load i18n%}
{% load static %}

{% block content %}
    {% if not cart_items %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my-title">{% trans "Your Shopping Cart is empty" %}</h1>
                <br>
                <p class="text-center">
                    {% trans "Please click " %} <a href="{% url 'category' %}">{% trans "here" %}</a>{% trans "to continue shopping" %}
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my-title">{% trans "Your shopping cart" %}</h1>
                <br>
            </div>
        </div>
        <div class="mx-auto">
            <form method="post">
                
                {% csrf_token %}
        <div class="row mx-auto">
            <div class="col-md-12 col-lg-6 text-center">
                <table class="table my-table">
                    <thead class="my-table-head">
                       <tr>
                        <th colspan="5">
                           {% trans "Your items" %}
                        </th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                           <tr>
                            <td>
                                <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom-image"></a>
                            </td>
                               <td class="text-left">
                                    {{cart_item.product.name}}<br>
                                    {% trans "Unit Price" %}: ${{cart_item.product.price}}<br>
                                    Qty: {{cart_item.quantity}} * ${{cart_item.product.price}}<br>
                               
                                  
                                        
                                          
                                        <label for="kids_name" style="color:#ec1c23">{% trans "Choose your kids name" %}: </label>
                                        <select name="kids_name" id="name" class="name" required style="border-color: #ec1c23; color:#ec1c23">
                                            <option></option>
                                            {% for kid in kids_name %}
                                            <option value="{{ kid.name }}">{{ kid.name }}</option>

                                            {% endfor %}
                                        </select>
                                  
                                 
                               </td>
                               <td>
                                   ${{cart_item.sub_total}}
                               </td>
                                    
                                        <td>
                                            <a href="{% url 'full_remove' cart_item.id cart_item.product.id %}" class="custom-a"><i class="fa fa-trash custom-icon"></i></a>
                                        </td>

                            
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-12 col-lg-6 text-center">
                <table class="table my-table">
                    <thead class="my-table-head">
                        <tr>
                            <th>
                                {% trans "Checkout" %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% trans "Please review your shopping cart" %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                {% trans "Your total is" %}: <strong>${{total}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
               
                <h5 style="color: #ec1c23">{% trans "Please choose the name of the kids for each product" %}</h5>
                    <div class="stripeButton" id="stripeButton">
                        
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{data_key}}"
                            data-amount="{{stripe_total}}"
                            data-name="Gabt Eltaiha"
                            data-description="{{description}}"
                            data-image="{% static 'img/logo.png' %}"
                            data-locale="auto"
                            data-currency="usd"
                            data-shipping-address="true"
                            data-billing-address="true"
                            data-zip-code="true">
                        </script>   
                    </div>
                        
              
                    </form>

                    <a href="{% url 'category' %}" class="btn btn-secondary btn-block my-custom-button">{% trans "Continue Shopping" %}</a>
                </div>
            </div>
        </div><br>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get all select inputs with the name "name" and class "name"
            var selectInputs = document.querySelectorAll('select[name="kids_name"].name');
            
            // Get the div with class "stripeButton"
            var stripeButtonDiv = document.querySelector(".stripeButton");
            
            // Function to handle changes in select inputs
            function handleSelectChange() {
                // Check if any select input is empty
                var isEmpty = false;
                selectInputs.forEach(function(selectInput) {
                    if (selectInput.value === "") {
                        isEmpty = true;
                    }
                });
                
                // Hide/show the "stripeButton" div based on the isEmpty variable
                if (isEmpty) {
                    stripeButtonDiv.style.display = "none";
                } else {
                    stripeButtonDiv.style.display = "block";
                }
            }
        
            // Add an event listener to each select input
            selectInputs.forEach(function(selectInput) {
                selectInput.addEventListener("change", handleSelectChange);
            });
        
            // Call the function once to set the initial state
            handleSelectChange();
        });
       
        </script>
{% endblock %}
